subprogress-bar {

    .progress-outer {
        width: 98%;
        margin-left: 1%;
        margin-right: 1%;
        float: left;
        text-align: center;
        font-size: 12px;
        background-color: #D3D3D3;
        border: 1px solid #000000;
        color: #fff;
        border-radius: 1px;
    }
 
    .progress-complete {
        position: relative;
        max-width: 98%;
        min-width: 1%;
        white-space: nowrap;
        float: left;
        overflow: hidden;
        padding: 3px;
        border-radius: 0px;
        background-color: map-get($colors, primary);
    }

    .progress-incomplete {
        position: relative;
        max-width: 98%;
        min-width: 1%;
        white-space: nowrap;
        float: right;
        overflow: hidden;
        padding: 3px;
        border-radius: 0px;
        color: rgb(0, 0, 0);
        background-color: #d3d3d3;
    }
 
}