page-alltasks {
    .exp {
        font-size: 12px;
        font-weight: bold;
        color: green;
        float: right;
    }

    .frequency {
        font-size: 12px;
        float: right;
        padding-right: 10px;
    }

    .task {
        font-size: 15px;
        float: left;
    }
}