page-assignedtasks {

    .bar-container{
        max-width: 350px;
        margin: 0 auto;
        padding-bottom: 20px;
    }

    .exp {
        font-size: 13px;
        font-weight: bold;
        color: rgb(0, 255, 0);
        padding-top: 4%;
        padding-right: 4%;
        float: right;

    }

    .task {
        font-size: 5px;
        width: 10rem;
        height: 4.4rem;
        white-space:normal;
        display: inline-block;
        vertical-align: middle;
        padding-left: 3%;
        padding-top: 3%;
    }

    

    .timeremaining {
        width: 6rem;
        height: 4.4rem;
        padding-top: 4.2%;
        float: left;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #fff;

    }

    .complete {
        width: 6rem;
        height: 4.4rem;
        padding-top: 4.2%;
        float: right;
        text-align: center;
        font-size: 12px;
        font-weight: bold;
        color: #fff;

    }

    .label-md {
        margin: 0;
    }

    .toolbar-exp {
        font-size: 16.5px;
        font-weight: bold;
    }

    .toolbar-stats {
        font-size: 12px;
        font-weight: bold;
        padding-left: 10px;
    }

    .toolbar-complete {
        font-size: 12px;
        font-weight: bold;
    }

    .toolbar-missed {
        font-size: 12px;
        font-weight: bold;
    }
    
}
